<!-- reset-password.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Restablecer contraseña</h1>
    <form action="/reset-password" method="POST">
        <input type="hidden" name="token" value="{{token}}">
        <label for="password">Nueva contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Restablecer contraseña</button>
    </form>
</body>
</html>